.custom-carousel {
	overflow : hidden;
	width : 100%;
	text-align: left;
}

.custom-carousel .col-lg-5 {
	width: 5%;
	display: inline-block;
	height : auto;
	padding : 5px 0;
}

@media only screen and (max-width: 40.063em) {
	.custom-carousel .col-lg-5 { width: 12%; }
}

@media only screen and (min-width: 40.063em) and (max-width: 999px) {
	.custom-carousel .col-lg-5 { width: 6%; }
}

.custom-carousel a.active{
	color: rgb(51, 51, 51);
    border-bottom-color: rgb(0, 150, 214);
    border-bottom-width: 5px;
    border-bottom-style: solid;
}

.section-container [data-section-title]{
	display: none
}

.custom-carousel .custom-prev {
    border-color: rgb(131, 131, 131) transparent transparent rgb(131, 131, 131) !important;
    width: 38px !important;
    height: 38px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(51, 51, 51) transparent transparent rgb(51, 51, 51) !important;
    border-image: none !important;
    margin-left: 12px !important;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
	display: inline-block;
	margin-top: -30px;
    margin-bottom: 30px;
    visibility: hidden;
}

.custom-carousel .custom-next {
    border-color: rgb(131, 131, 131) transparent transparent rgb(131, 131, 131) !important;
    width: 38px !important;
    height: 38px !important;
    border-width: 1px !important;
    border-style: solid !important;
    border-color: rgb(51, 51, 51) transparent transparent rgb(51, 51, 51) !important;
    border-image: none !important;
    margin-left: 12px !important;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
	display: inline-block;
	float:right;
	margin-right: 10px;
	margin-top: -30px;
    margin-bottom: 30px;
    visibility: hidden;
}

.carousel-navigation {
	height : 5px;
	margin-top : -40px;
}

.custom-carousel .custom-viewarea {
	width: 400%;
}

@media only screen and (min-width: 40.063em) {
	.custom-carousel.no-slider .custom-viewarea {
		width: 100%;
	}
	
	.custom-carousel.no-slider {
		text-align: center;
	}
	
	.custom-carousel.no-slider .col-lg-5 {
		width: 20%;
	}
}

.custom-carousel .custom-viewarea a {
	padding: 0.9em;
    display: inline-block;
}

#IntelLogo_MobileView{
	display: none;
}


@media only screen and (max-width: 1024px) {
	#IntelLogo_DesktopView {
		display: none !important ;
	}
	#IntelLogo_MobileView{
		display: block;
	}
}